<h1 *ngIf="!data" mat-dialog-title>Create New Room</h1>
<h1 *ngIf="data" mat-dialog-title>Modify New Room</h1>

<mat-dialog-content>

  <form [formGroup]="fg" (ngSubmit)="fgSubmit()">
    <!-- <div> -->
    <!--   <span class="field">id:</span> -->
    <!--   <mat-form-field appearance="fill"> -->
    <!--     <input formControlName="id"  type="number" readonly matInput> -->
    <!--   </mat-form-field> -->
    <!-- </div> -->

    <div>
      <span class="field">Name:</span>
      <mat-form-field appearance="fill">
        <input formControlName="name" type="text" matInput>
      </mat-form-field>
      <span class="sideFeedback" *ngIf="fg.controls['name'].errors?.['minlength']">Name is too short</span>
      <span class="sideFeedback" *ngIf="fg.controls['name'].errors?.['maxlength']">Name is too long</span>
    </div>

    <div>
      <span class="field">Capacity:</span>
      <mat-form-field appearance="fill">
        <input formControlName="capacity" type="number" matInput>
      </mat-form-field>
      <span class="sideFeedback" *ngIf="fg.controls['capacity'].errors?.['max']">Num is too big...</span>
      <span class="sideFeedback" *ngIf="fg.controls['capacity'].errors?.['min']">Num is too low...</span>
    </div>

    <div>
      <span class="field">Display:</span>
      <mat-checkbox formControlName="display"></mat-checkbox>
    </div>

    <div>
      <span class="field">Whiteboard:</span>
      <mat-checkbox formControlName="whiteboard"></mat-checkbox>
    </div>

    <div>
      <span class="field">Air Conditioning::</span>
      <mat-checkbox formControlName="airConditioning"></mat-checkbox>
    </div>

    <div *ngIf="data" id="bookingsDiv">
      <span class="field">Bookings:</span>
      <div id="bookingsTextAreaDiv">
        <textarea formControlName="bookings" name="bookingsInput" id="" cols="30" rows="10"></textarea>
      </div>
    </div>

    <mat-dialog-actions align="center">
      <button *ngIf="!data" mat-button mat-stroked-button type="submit">Create Room</button>
      <button *ngIf="data" mat-button mat-stroked-button type="submit">Modify Room</button>
      <button mat-button mat-stroked-button mat-dialog-close>Exit</button>
    </mat-dialog-actions>
    <div *ngIf="errorGeneralMessage" id="errorGeneralMessageDiv">
      <span>Something is wrong with your input. Look for errors above!</span>
    </div>

    <!-- <div *ngIf="errorGeneralMessage" id="errorGeneralMessageDiv"> -->
    <!--   <span>Something is wrong with your input. Look for errors above!</span> -->
    <!-- </div> -->
  </form>



</mat-dialog-content>
