<div id="timeFrame">
  <span>Book a time frame:</span>
  <div>
    <input [formControl]="selectedDateControl" type="date" name="selected-day">
    <input [formControl]="selectedTimeStartControl" type="time" name="selected-time-start">
    <input [formControl]="selectedTimeEndControl" type="time" name="selected-time-end">
  </div>
</div>

<br>

<div *ngIf="selectedDateControl.value
                          &&
            selectedTimeStartControl.value
                          &&
            selectedTimeEndControl.value">
  <div>
    <button mat-button mat-stroked-button color="primary" (click)="handleInput()">Send Request</button>
  </div>  
</div>
