<div>
  <span>Select a time frame:</span>
  <div>
    <input [(ngModel)]="selectedDate" type="date" name="selected-day">
    <input [(ngModel)]="selectedTimeStart" type="time" name="selected-time-start">
    <input [(ngModel)]="selectedTimeEnd" type="time" name="selected-time-end">
  </div>
</div>

<br>

<div *ngIf="selectedDate && selectedTimeStart && selectedTimeEnd">
  <!-- 
    <div>
      You have selected: {{selectedDate | date}} from {{selectedTimeStart}} to {{selectedTimeEnd}}
    </div> 
  -->

  <div>
    <button (click)=handleInput()>Send Request</button>
  </div>  

  <br>
    <div *ngIf="bookingAssessment?.result === true">
    <span class="accepted">Your booking looks okay!</span> {{bookingAssessment?.msg}}    
  </div>
  
  <div *ngIf="bookingAssessment?.result === false">
    <span class="rejected">Something is wrong with your booking...</span> {{bookingAssessment?.msg}}
  </div>

</div>