<h1 mat-dialog-title>Create New Room</h1>

<mat-dialog-content>

  <div>
  <span class="field">id:</span>
  <mat-form-field appearance="fill">
    <input [formControl]="idControl" readonly matInput>
  </mat-form-field>
  </div>

  <div>
    <span class="field">name:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="nameControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">capacity:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="capacityControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">display:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="displayControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">whiteboard:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="whiteboardControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">Air conditioning:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="airCondControl" matInput>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="sendCreateRoomReq()">Create Room</button>
  <button mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>
