<h1 mat-dialog-title>Modify Room Details</h1>

<mat-dialog-content>

  <div>
  <span class="field">id:</span>
  <mat-form-field appearance="fill">
    <input matInput readonly value="{{data['id']}}">
  </mat-form-field>
  </div>

  <div>
    <span class="field">name:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="modifiedNameControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">capacity:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="modifiedCapacityControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">display:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="modifiedDisplayControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">whiteboard:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="modifiedWhiteBoardControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">Air conditioning:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="modifiedAirConditioningControl" matInput>
    </mat-form-field>
  </div>

  <div id="bookingsDiv">
    <span class="field">Bookings:</span>
    <div id="bookingsTextAreaDiv">
      <textarea [formControl]="bookingsControl" name="bookingsInput" id="" cols="30" rows="10"></textarea>
    </div>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="applyChanges()">Apply Changes</button>
  <button mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>
