<h1 mat-dialog-title>Modify Room Details</h1>

<mat-dialog-content>

  <div>
  <span class="field">ID:</span>
  <mat-form-field appearance="fill">
    <input matInput readonly value="{{data['id']}}">
  </mat-form-field>
  </div>

  <div>
    <span class="field">Name:</span>
    <mat-form-field appearance="fill">
      <input [formControl]="modifiedNameControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">Capacity:</span>
    <mat-form-field appearance="fill">
      <input type="number" [formControl]="modifiedCapacityControl" matInput>
    </mat-form-field>
  </div>

  <div>
    <span class="field">Display:</span>
    <mat-checkbox [formControl]="modifiedDisplayControl"></mat-checkbox>
  </div>

  <div>
    <span class="field">Whiteboard:</span>
        <mat-checkbox [formControl]="modifiedWhiteBoardControl"></mat-checkbox>
  </div>

  <div>
    <span class="field">Air conditioning:</span>
    <mat-checkbox [formControl]="modifiedAirConditioningControl"></mat-checkbox>
  </div>

  <div id="bookingsDiv">
    <span class="field">Bookings:</span>
    <div id="bookingsTextAreaDiv">
      <textarea [formControl]="bookingsControl" name="bookingsInput" id="" cols="30" rows="10"></textarea>
    </div>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="applyChanges()">Apply Changes</button>
  <button mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>
