<mat-card routerLink="/rooms/{{_room?_room.id:null}}">

    <div class="matHeader">
      <mat-checkbox align="end" [checked]="_room && selected && selected.includes(_room.id)"
                    (change)="handleCheckBoxChange($event, _room?_room.id:null)" (click)="stopProp($event)"></mat-checkbox>
    </div>

  <mat-card-title>
    {{ _room?.name }} Room
  </mat-card-title>

  <mat-card-subtitle *ngIf="_room">
    <span *ngIf="_room.capacity<=4" class="_room-feature-icon">
        <i class="bi bi-person"></i>
    </span>
    
    <span *ngIf="_room.capacity > 4 && _room.capacity < 10" class="room-feature-icon">
        <i class="bi bi-person"></i>
        <i class="bi bi-person"></i>
    </span>
    <span *ngIf="_room.capacity >= 10" class="room-feature-icon">
        <i class="bi bi-person"></i>
        <i class="bi bi-person"></i>
        <i class="bi bi-person"></i>
    </span>
    
    <span class="room-feature-icon" *ngIf="_room.airConditioning">
        <i class="bi bi-snow"></i>
    </span>
    <span class="room-feature-icon" *ngIf="_room.whiteboard">
        <i class="bi bi-easel"></i>
    </span>
    <span class="room-feature-icon" *ngIf="_room.display">
        <i class="bi bi-display"></i>
    </span>
  </mat-card-subtitle>

  <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="handleModifyButtonClick($event)">Modify room</button>
  </mat-card-actions>

</mat-card>
