<p class="backLink" (click)="goBack()">← go back to rooms</p>

<h3>Room {{id}}</h3>

<div>
  <span>Select a time frame:</span>
  <div>
    <input [(ngModel)]="selectedDate" type="date" name="selected-day">
    <input [(ngModel)]="selectedTimeStart" type="time" name="selected-time-start">
    <input [(ngModel)]="selectedTimeEnd" type="time" name="selected-time-end">
  </div>
</div>

<br>

<div *ngIf="selectedDate && selectedTimeStart && selectedTimeEnd">
  <div>
    You have selected: {{selectedDate | date}} from {{selectedTimeStart}} to {{selectedTimeEnd}}
  </div>

  <br>

  <div class="available">
    The room is availabe at that time!
  </div>

  <br>

  <div>
    <button (click)=handleInput()>Send Request</button>
  </div>
</div>

<br>

<div *ngIf="bookings.length">
  <app-room-current-bookings [roomCurrentBookings]="bookings"></app-room-current-bookings>
</div>
<div *ngIf="!bookings.length">
  <br>
  No one has booked this room yet!
</div>