<p class="backLink" (click)="goBack()">← go back to rooms</p>

<h3>Room {{id}} -- {{room?.name}}</h3>

<div>
  <span>Capacity: {{room?.capacity}}</span> | <span>Display: {{room?.display ? 'yes' : 'no'}}</span> |
  <span>Whiteboard: {{room?.whiteboard ? 'yes' : 'no'}}</span> |
  <span>Air conditioning: {{room?.airConditioning ? 'yes' : 'no'}}</span>
</div>

<br>
<br>

<app-select-time-frame (newBookingEvent)="handleNewBookingEvent3($event)"></app-select-time-frame>

<br>

<app-room-current-bookings [room$]="room$"></app-room-current-bookings>

<br>

<button (click)="openDialog()">Modify room (todo)</button>