<p class="backLink" (click)="goBack()">← go back to rooms</p>

<h3>Room {{id}}</h3>

<app-select-time-frame [rooms$]="rooms$" [roomId]="id?.toString()" [room]="room" (newBookingEvent)="handleNewBookingEvent()"></app-select-time-frame>

<br>

<div *ngIf="room && room.bookings.length">
  <app-room-current-bookings [rooms$]="rooms$" [roomCurrentBookings]="room ? room.bookings : 'loading'"></app-room-current-bookings>
</div>

<div *ngIf="room && room.bookings.length===0">
  <br>
  No one has booked this room yet!
</div>

<div *ngIf="!room">
  loading...
</div>