<div id="roomFilter">
  Filter Rooms:

  <br>

  <!-- filter by name -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Filter by room name</mat-label>
    <input #nameFilter matInput placeholder="Stevenson" (input)="handleNameInput($event)">
  </mat-form-field>

  <!-- filter by timeframe -->
  <label for="">date</label>
  <input (change)="handleTimeFrameDateInput($event)" type="date">
  <label for="">from</label>
  <input (change)="handleTimeFrameFromInput($event)" type="time">
  <label for="">to</label>
  <input (change)="handleTimeFrameToInput($event)" type="time">

  <br>

  <!-- filter by ac -->
  <mat-checkbox class="roomFilterCheckBox" (input)="handleAcInput($event)">AC</mat-checkbox>
  <!-- filter by whiteboard -->
  <mat-checkbox class="roomFilterCheckBox" (input)="handleWbInput($event)">White Board</mat-checkbox>
  <!-- filter by display -->
  <mat-checkbox class="roomFilterCheckBox" (input)="handleDisplayInput($event)">Display</mat-checkbox>
  <!-- filter by capacity -->
  <!-- <span>Capacity (todo)</span> -->
  <mat-form-field appearance="fill">
    <mat-label>Capacity</mat-label>
    <mat-select (valueChange)="handleCapacityInput($event)">
      <mat-option value="">

      </mat-option>
      <mat-option value="small">
        Small
      </mat-option>
      <mat-option value="medium">
        Medium
      </mat-option>
      <mat-option value="big">
        Big
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
