<div id="roomFilter">
  Filter Rooms:

  <br>

  <!-- filter by name -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Filter by room name</mat-label>
      <input #nameFilter matInput placeholder="Stevenson" (input)="handleNameInput($event)">
  </mat-form-field>

  <!-- filter by timeframe -->
  <label for="">from</label>
  <input type="time">
  <label for="">to</label>
  <input type="time">

  <br>

  <!-- filter by ac -->
  <mat-checkbox class="roomFilterCheckBox" (input)="handleAcInput($event)">AC</mat-checkbox>
  <!-- filter by display -->
  <mat-checkbox class="roomFilterCheckBox" (input)="handleWbInput($event)">Display</mat-checkbox>
  <!-- filter by whiteboard -->
  <mat-checkbox class="roomFilterCheckBox">White Board</mat-checkbox>
  <!-- filter by capacity -->
  <span>Capacity (todo)</span>

</div>
