mat-card {
  margin: 1em;
  width: 15%;
  min-width: 100px;
  color: black;
  background-color: #d7dbe0;
  text-align: center;
}

.matHeader {
  text-align: right;
}

mat-card-subtitle {
  font-size: 10px;
  color: grey;
}

mat-card:hover {
  color: white;
  background-color: #42545C;
  /*cursor: pointer;*/
}
