<p class="backLink" (click)="goBack()">← go back to bookable items</p>

<button>create room (todo)</button>

<br>
<br>

<app-room-filter (filterInitEvent)="handleFilterInit($event)"></app-room-filter>

<br>

<mat-card *ngFor="let r of filteredRooms" routerLink="/rooms/{{r.id}}">
  <div class="matHeader">
    <mat-checkbox align="end"></mat-checkbox>
  </div>

  <mat-card-title>Room {{ r.id }} -- {{r.name}}</mat-card-title>
  
  <mat-card-subtitle>
    <span>CAP: {{ r.capacity }}</span>
    <span *ngIf="r.airConditioning"> | AC</span>
    <span *ngIf="r.whiteboard"> | WHITEBOARD</span>
    <span *ngIf="r.display"> | DISPLAY</span>
  </mat-card-subtitle>
  
  <mat-card-actions>
    <button>Button</button>
  </mat-card-actions>
</mat-card>
