mat-card {
  margin: 20px auto;
  width: 60%;
  min-width: 230px;

  text-align: center;
}

.matHeader {
  text-align: right;
}

mat-card:hover {
  color: white;

  background-color: #42545C;

  cursor: pointer;
}

.room-feature-icon {
  margin-left: 10px;
  margin-right: 10px;
}
