<div id="roomsDiv">

  <p class="backLink" (click)="goBack()">← go back to bookable items</p>

  <button mat-button mat-stroked-button color="primary" (click)="handleCreateRoomClick()">Create room</button>
  <button mat-button mat-stroked-button color="primary" (click)="handleCreateRoomClick2()">Create room 2</button>
  <button mat-button mat-stroked-button color="primary" (click)="handleCreateRoomClick3()">Create room 3</button>
  <button *ngIf="this.selected && this.selected.length > 1" mat-stroked-button color="primary"
    (click)="logStore()">Multi-Action</button>
  <button *ngIf="this.selected && this.selected.length > 1" mat-stroked-button color="primary"
    (click)="deleteSelected()">Delete Selected</button>
  <button *ngIf="this.selected && this.selected.length > 1 && filter && filter.date && filter.from && filter.to"
    mat-stroked-button color="primary" (click)="multipleBook3()">Book Multiple Rooms</button>

  <br>
  <br>

  <app-room-filter></app-room-filter>

  <br>

  <app-room-card *ngFor="let r of filteredRooms" routerLink="/rooms/{{r.id}}" [room]="r"
                 [selected]="selected" (checkboxEvent)="handleCheckBoxEvent($event)"></app-room-card>

</div>
