<p class="backLink" (click)="goBack()">← go back to bookable items</p>

<button mat-stroked-button color="primary" (click)="handleCreateRoomClick()">Create room</button>
<button *ngIf="this.selected && this.selected.length > 1" mat-stroked-button color="primary" (click)="logStore()">Multi-Action</button>
<button *ngIf="this.selected && this.selected.length > 1 && filter && filter.date && filter.from && filter.to" mat-stroked-button color="primary" (click)="multipleBook2()">Book Multiple Rooms</button>

<br>
<br>

<app-room-filter></app-room-filter>

<br>

<mat-card *ngFor="let r of filteredRooms" routerLink="/rooms/{{r.id}}">
  <div class="matHeader">
    <mat-checkbox align="end" [checked]="selected &&selected.includes(r.id)" (click)="stopProp($event)" (change)="handleCheckBoxChange($event, r.id)"></mat-checkbox>
  </div>

  <mat-card-title>Room {{ r.id }} -- {{r.name}}</mat-card-title>
  
  <mat-card-subtitle>
    <span>CAP: {{ r.capacity }}</span>
    <span *ngIf="r.airConditioning"> | AC</span>
    <span *ngIf="r.whiteboard"> | WHITEBOARD</span>
    <span *ngIf="r.display"> | DISPLAY</span>
  </mat-card-subtitle>
  
  <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="modifyRoom($event, r.id)">Modify room</button>
  </mat-card-actions>
</mat-card>
